
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ICT1008</title>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename='function.js')}}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel=“stylesheet” href=“https://use.fontawesome.com/releases/v5.5.0/css/all.css” integrity=“sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU” crossorigin=“anonymous”>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>

<div class="sidebar">
    <div class="container-fluid">
        <h4><span class="fa fa-search"></span> Search</h4>
        <form action="" method="">
            <div class="form-group" id="formGroup">
                <div id="startL">
                    <label for="start">Start Location:</label>
                    <input type="text" class="form-control" id="start" placeholder="What's your start location?">
                </div>
                <div id="endL">
                    <label for="end">End Location:</label>
                    <input type="text" class="form-control" id="end" placeholder="What's your end location?">
                </div>

            </div>
        <button type="submit" class="btn btn-success" id="searchButton" onclick="displayResults()">Search</button>
        </form>
        <div id="result">
            <h4><span class="fa fa-map"></span> Directions</h4>
            <tr id="direction">
                <td id="walk">
                    <button type="submit" class="btn btn-primary fa fa-heartbeat" id="walkButton"></button>
                </td>
                <td id="bus">
                    <button type="submit" class="btn btn-primary fa fa-bus" id="busButton"></button>
                </td>
                <td id="lrt">
                    <button type="submit" class="btn btn-primary fa fa-subway" id="lrtButton"></button>
                </td>
            </tr>
        </div>
    </div>

</div>

<div class="content">
    {% include 'gui_frontend.html' %}
</div>


</body>
</html>